@font-face 
	font-family: 'PF Din Text Cond Pro'
	src: url('../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Regular.eot')
	src: url('../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype')
	src: url('../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Regular.woff2') format('woff2')
	src: url('../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Regular.woff') format('woff')
	src: url('../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

 