* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  max-width: 1366px;
  margin: auto;
  margin-bottom: 42px; }
  .main header {
    display: inline-flex;
    width: 1366px;
    height: 125px;
    background-color: #ffffff;
    position: absolute; }
    .main header .logo-header {
      width: 256px;
      height: 92px;
      position: absolute;
      z-index: 50; }
    .main header .nav {
      list-style: none;
      padding-left: 471px;
      padding-top: 27px;
      padding-right: 214px; }
      .main header .nav li {
        display: inline;
        padding: 10px; }
        .main header .nav li a {
          cursor: pointer;
          position: relative;
          text-decoration: none;
          color: #070707;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 400;
          line-height: 3px;
          letter-spacing: 1.1px;
          transition: 0.9s; }
          .main header .nav li a:hover {
            color: #a7b3b3; }
          .main header .nav li a:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #a7b3b3;
            content: "";
            transition: width 0.3s ease-out; }
          .main header .nav li a:hover:after, .main header .nav li a:focus:after {
            width: 100%; }
    .main header .divider {
      width: 85px;
      height: 125px; }
      .main header .divider .up {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85px;
        height: 62px; }
        .main header .divider .up .ic_search {
          width: 42px;
          height: 62px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #a7b3b3;
          transition: 0.9s; }
          .main header .divider .up .ic_search:hover {
            background-color: #a7b3b3; }
        .main header .divider .up .ic_menu {
          width: 42px;
          height: 62px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #a7b3b3;
          border-left: 1px solid #a7b3b3;
          transition: 0.9s; }
          .main header .divider .up .ic_menu:hover {
            background-color: #a7b3b3; }
      .main header .divider .ic_chat {
        width: 42px;
        height: 62px;
        margin-left: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #a7b3b3;
        border-right: 1px solid #a7b3b3;
        border-left: 1px solid #a7b3b3;
        border-bottom: 1px solid #a7b3b3;
        transition: 0.9s; }
        .main header .divider .ic_chat:hover {
          background-color: #a7b3b3; }
  .main .slider {
    width: 1277px;
    height: 464px;
    margin-top: 62px;
    margin-right: 42px;
    margin-left: 42px;
    padding-bottom: 40px;
    background-color: #a7b3b3;
    position: absolute; }
  .main .arrow-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    float: right;
    width: 42px;
    height: 461px; }
  .main .arrow-right a {
    height: 100%; }
  .main .arrow-left {
    width: 42px;
    height: 461px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    float: left; }
  .main .gadot-outer {
    margin-top: 155px;
    margin-left: 90px;
    width: 219px;
    height: 219px;
    border: 2px solid #f4f5f5;
    transform: rotate(45deg); }
  .main .gadot-inner {
    margin: 6px;
    width: 203px;
    height: 203px;
    border: 2px solid #f4f5f5; }
    .main .gadot-inner .gadot-div {
      width: 53px;
      height: 53px;
      margin: 44px;
      border-radius: 80%;
      position: relative;
      overflow: hidden;
      transform: rotate(45deg);
      border: 1px solid #f4f5f5; }
      .main .gadot-inner .gadot-div:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -68%;
        left: 0%;
        z-index: -1;
        background: url(../images/galgaddot.png) 0 0 no-repeat;
        transform: rotate(-90deg); }
    .main .gadot-inner .line-gadot-div {
      display: block;
      width: 180px;
      height: 2px;
      margin-top: -40px;
      margin-left: 10px;
      transform: rotate(135deg);
      background: #d4dde4; }
    .main .gadot-inner h2 {
      margin-right: 25px;
      margin-left: 65px;
      transform: rotate(-45deg);
      font-size: 14px;
      color: #ffffff; }
    .main .gadot-inner .rating {
      height: 10px;
      transform: rotate(-45deg);
      margin-right: 25px;
      margin-left: 66px;
      padding-top: 5px;
      padding-left: 7px; }
      .main .gadot-inner .rating a {
        font-size: 15px;
        margin-right: 1px; }
        .main .gadot-inner .rating a::after {
          color: #f6f3ec3; }
      .main .gadot-inner .rating a.br-selected:after {
        color: #ffffff; }
      .main .gadot-inner .rating a.br-active:after {
        color: #ffffff; }
  .main .block_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 460px;
    margin-top: -375px;
    margin-left: 325px;
    position: absolute; }
    .main .block_cont .title {
      width: 400px;
      height: 85px;
      text-align: center; }
      .main .block_cont .title h2 {
        font-size: 16px;
        color: #ffffff; }
      .main .block_cont .title img {
        margin: 5px; }
      .main .block_cont .title p {
        font-size: 10px;
        color: #ffffff; }
      .main .block_cont .title a {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 12px;
        color: #373d3d; }
    .main .block_cont .prices {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
      height: 72px;
      margin-bottom: 107px; }
      .main .block_cont .prices .price_1, .main .block_cont .prices .price_2, .main .block_cont .prices .price_3, .main .block_cont .prices .price_4 {
        width: 72px;
        height: 72px;
        background-color: #ffffff;
        transform: rotate(45deg);
        padding: 3px; }
      .main .block_cont .prices .price_1_inner, .main .block_cont .prices .price_2_inner, .main .block_cont .prices .price_3_inner, .main .block_cont .prices .price_4_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 66px;
        height: 66px;
        border: 1px solid #d0d7d7; }
        .main .block_cont .prices .price_1_inner span, .main .block_cont .prices .price_2_inner span, .main .block_cont .prices .price_3_inner span, .main .block_cont .prices .price_4_inner span {
          display: block;
          width: 55px;
          height: 1px;
          background-color: #cbd2d2;
          transform: rotate(-45deg); }
        .main .block_cont .prices .price_1_inner .text_b, .main .block_cont .prices .price_2_inner .text_b, .main .block_cont .prices .price_3_inner .text_b, .main .block_cont .prices .price_4_inner .text_b {
          color: #cbd2d2;
          font-size: 12px;
          transform: rotate(-45deg);
          padding-right: 27px; }
        .main .block_cont .prices .price_1_inner .text-d, .main .block_cont .prices .price_2_inner .text-d, .main .block_cont .prices .price_3_inner .text-d, .main .block_cont .prices .price_4_inner .text-d {
          color: #cbd2d2;
          font-size: 12px;
          transform: rotate(-45deg);
          padding-left: 28px; }
  .main .baby_driver {
    width: 568px;
    height: 480px;
    margin-top: -390px;
    margin-left: 667px;
    background-image: url(../images/babydriver.png);
    background-repeat: no-repeat;
    background-position: 56% 15%; }
  .main .secondBlock {
    margin-left: 42px;
    width: 1283px;
    height: 427px; }
    .main .secondBlock .SB_1 {
      margin-top: 526px;
      position: absolute;
      width: 425px;
      height: 427px;
      background-color: #bababa; }
      .main .secondBlock .SB_1 .call_to_action {
        margin-top: 87.5px;
        margin-left: 84px;
        width: 260px;
        height: 260px;
        transform: rotate(45deg);
        border: 2px solid #f4f5f5; }
        .main .secondBlock .SB_1 .call_to_action .image_call {
          background-image: url(../images/call_to_action_1.png);
          transform: rotate(-45deg);
          margin-top: 20px;
          margin-left: 18px;
          width: 250px;
          height: 248px; }
          .main .secondBlock .SB_1 .call_to_action .image_call .head_call {
            text-align: center; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call .up {
              padding-top: 50px;
              margin-bottom: 5px;
              font-size: 16px;
              color: #f4f5f5;
              text-transform: uppercase; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call .down {
              margin-bottom: 15px;
              font-size: 16px;
              color: #f4f5f5;
              text-transform: uppercase; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call p {
              font-size: 14px;
              color: #f4f5f5; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call a {
              cursor: pointer;
              position: relative;
              font-size: 14px;
              font-weight: 400;
              color: #f4f5f5;
              text-decoration: none;
              text-transform: uppercase;
              transition: 0.9s;
              line-height: 3px; }
              .main .secondBlock .SB_1 .call_to_action .image_call .head_call a .start {
                height: 10px;
                width: 115px;
                margin-left: 65px;
                margin-top: 30px; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call:after {
              margin-left: 65px;
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #f4f5f5;
              content: "";
              transition: width 0.3s ease-out;
              width: 46%; }
    .main .secondBlock .SB_2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      aligin-items: center;
      margin-left: 425px;
      margin-top: 526px;
      position: absolute;
      width: 853px;
      height: 427px;
      background-color: #f6f3ec; }
      .main .secondBlock .SB_2 .arrow-right_SB_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 427px; }
      .main .secondBlock .SB_2 .slider_SB {
        display: flex;
        flex-direction: row; }
      .main .secondBlock .SB_2 .not_gaddot {
        background-image: url(../images/not_gaddot.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 488px;
        height: 431px; }
      .main .secondBlock .SB_2 .recomend {
        width: 276px;
        height: 427px; }
        .main .secondBlock .SB_2 .recomend .head_sb2 {
          margin-top: 200px;
          margin-left: -202px;
          padding-left: 150px;
          font-size: 24px;
          letter-spacing: 0.5px;
          color: #4d4d4d;
          text-transform: uppercase;
          width: 427px;
          transform: rotate(90deg); }
        .main .secondBlock .SB_2 .recomend .stylist {
          width: 250px;
          height: 22px;
          font-size: 12px;
          colro: #4d4d4d;
          text-transform: uppercase;
          margin-top: -146px;
          margin-bottom: 50px;
          margin-right: 50px; }
          .main .secondBlock .SB_2 .recomend .stylist img {
            padding-left: 25px; }
        .main .secondBlock .SB_2 .recomend .stylist_one {
          display: flex;
          flex-direction: column;
          width: 150px;
          height: 80px;
          font-size: 12px;
          color: #bdbbb6;
          margin-left: 50px; }
          .main .secondBlock .SB_2 .recomend .stylist_one p {
            margin: 5px; }
          .main .secondBlock .SB_2 .recomend .stylist_one .rating {
            display: flex;
            flex-direction: row; }
          .main .secondBlock .SB_2 .recomend .stylist_one .rating {
            display: flex;
            flex-direction: row;
            align-items: center; }
        .main .secondBlock .SB_2 .recomend .info {
          width: 216px;
          height: 143px;
          font-size: 12px;
          margin-top: 22px;
          margin-left: 50px; }
          .main .secondBlock .SB_2 .recomend .info p {
            text-align: left;
            margin-top: 20px; }
            .main .secondBlock .SB_2 .recomend .info p span {
              font-weight: bold; }
          .main .secondBlock .SB_2 .recomend .info a {
            color: #4d4d4d;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 200;
            transition: 0.9s; }
            .main .secondBlock .SB_2 .recomend .info a:hover {
              color: #a7b3b3; }
            .main .secondBlock .SB_2 .recomend .info a:after {
              margin-left: 585px;
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #a7b3b3;
              content: "";
              transition: width 0.3s ease-out; }
            .main .secondBlock .SB_2 .recomend .info a:hover:after, .main .secondBlock .SB_2 .recomend .info a:focus:after {
              width: 16%; }
      .main .secondBlock .SB_2 .arrow-left_SB_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 427px; }
  .main .thirdBlock {
    display: flex;
    flex-direction: row;
    margin-left: 42px;
    margin-right: 42px;
    width: 1283px;
    height: 472px; }
    .main .thirdBlock .TB_1 {
      margin-top: 526px;
      width: 852px;
      height: 472px;
      background-color: #756862; }
    .main .thirdBlock .TB_2 {
      margin-top: 526px;
      width: 425px;
      height: 472px;
      background-image: url(../images/TB_2.png); }
      .main .thirdBlock .TB_2 .input_form {
        width: 425px;
        height: 233px;
        border: 1px solid #e6e2e1; }
        .main .thirdBlock .TB_2 .input_form h2 {
          margin-top: 30px;
          text-align: center;
          text-transform: uppercase;
          font-size: 15px; }
        .main .thirdBlock .TB_2 .input_form img {
          margin-left: 150px; }
        .main .thirdBlock .TB_2 .input_form .select_country {
          margin-top: 20px;
          margin-right: auto;
          margin-left: auto;
          width: 180px;
          height: 32px;
          border: 1px solid black; }
          .main .thirdBlock .TB_2 .input_form .select_country select {
            font-size: 12px;
            background-image: url(../images/TB_2.png);
            border: none;
            width: 178px;
            height: 30px;
            background-color: #e3e1e2;
            padding: 3px; }
        .main .thirdBlock .TB_2 .input_form .type_purchase {
          margin-top: 20px;
          margin-right: auto;
          margin-left: auto;
          width: 180px;
          height: 32px;
          border: 1px solid black; }
          .main .thirdBlock .TB_2 .input_form .type_purchase input {
            font-size: 12px;
            background: url(../image/TB_2.png);
            border: none;
            width: 178px;
            height: 30px;
            padding: 3px; }
        .main .thirdBlock .TB_2 .input_form .button {
          width: 180px;
          height: 32px;
          background-color: #a7b3b3;
          margin-left: 121px;
          margin-top: 20px;
          text-align: center; }
          .main .thirdBlock .TB_2 .input_form .button a {
            text-decoration: none;
            padding: 5px;
            outline: none;
            display: inline-block;
            width: 181px;
            height: 32px;
            left: -1px;
            position: relative;
            color: #ffffff;
            border: 1px solid rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
            font-size: 14px; }
            .main .thirdBlock .TB_2 .input_form .button a:before, .main .thirdBlock .TB_2 .input_form .button a:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              opacity: 0; }
            .main .thirdBlock .TB_2 .input_form .button a:before {
              bottom: 0;
              left: 0;
              border-left: 1px solid white;
              border-top: 1px solid white;
              transition: 0s ease opacity 0.9s, 0.2s ease width 0.4s, 0.2s ease height 0.6s; }
            .main .thirdBlock .TB_2 .input_form .button a:after {
              top: 0;
              right: 0;
              left: 0;
              border-right: 1px solid white;
              border-bottom: 1px solid white;
              transition: 0s ease opacity 0.9s, 0.2s ease width, 0.2s ease height 0.2s; }
            .main .thirdBlock .TB_2 .input_form .button a:hover:before, .main .thirdBlock .TB_2 .input_form .button a:hover:after {
              height: 100%;
              width: 100%;
              opacity: 1; }
            .main .thirdBlock .TB_2 .input_form .button a:hover:before {
              transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s; }
            .main .thirdBlock .TB_2 .input_form .button a:hover:after {
              transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
              background: rgba(255, 255, 255, 0.4); }
      .main .thirdBlock .TB_2 .slider_TB {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        .main .thirdBlock .TB_2 .slider_TB .arrow_TB_right {
          width: 20px;
          height: 240px; }
          .main .thirdBlock .TB_2 .slider_TB .arrow_TB_right img {
            margin-top: 111px;
            margin-right: 21px; }
        .main .thirdBlock .TB_2 .slider_TB .arrow_TB_left {
          width: 20px;
          height: 240px; }
          .main .thirdBlock .TB_2 .slider_TB .arrow_TB_left img {
            margin-top: 111px;
            margin-left: 9px; }
        .main .thirdBlock .TB_2 .slider_TB .stuff_1 {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 171px;
          height: 240px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_1 h2 {
            width: 94px;
            height: 11px;
            text-transform: uppercase;
            font-size: 12px;
            color: #282828;
            margin-top: 10px;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 10px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_1 img {
            width: 80px;
            height: 5px;
            margin-bottom: 10px;
            transition: 0.4s; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_1:hover .hidden_block {
            display: flex; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_1 .notBabyDriver {
            width: 144px;
            height: 192px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block {
            display: none;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 190px;
            position: absolute;
            width: 210px;
            height: 50px;
            background-color: #fdfcfc;
            opacity: 1; }
            .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block img {
              width: 27px;
              height: 27px;
              border-radius: 50%;
              margin-top: 10px;
              margin-left: 20px;
              margin-right: 20px;
              margin-bottom: 10px; }
            .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block .made_J {
              margin-top: 15px;
              margin-bottom: 10px; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block .made_J p {
                font-size: 12px; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block .made_J .stars {
                width: 74px;
                height: 12px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start; }
                .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block .made_J .stars img:first-child {
                  width: 58px;
                  height: 12px;
                  border-radius: 0%;
                  margin: 1px; }
                .main .thirdBlock .TB_2 .slider_TB .stuff_1 .hidden_block .made_J .stars img:nth-child(2) {
                  width: 31px;
                  height: 12px;
                  border-radius: 0%;
                  margin: 1px; }
        .main .thirdBlock .TB_2 .slider_TB .stuff_2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 171px;
          height: 240px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_2 h2 {
            width: 150px;
            height: 11px;
            text-transform: uppercase;
            font-size: 12px;
            color: #282828;
            margin-top: 10px;
            margin-right: 35px;
            margin-left: 75px;
            margin-bottom: 10px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_2 img {
            width: 80px;
            height: 5px;
            margin-bottom: 10px; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_2:hover .hidden_block {
            display: flex; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_2 .horseInCoat {
            width: 120px;
            height: 168px;
            margin: auto; }
          .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block {
            display: none;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 190px;
            position: absolute;
            width: 210px;
            height: 50px;
            background-color: #fdfcfc;
            opacity: 1; }
            .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block img {
              width: 27px;
              height: 27px;
              border-radius: 50%;
              margin-top: 10px;
              margin-left: 20px;
              margin-right: 20px;
              margin-bottom: 10px; }
            .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block .made_J {
              margin-top: 15px;
              margin-bottom: 10px; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block .made_J p {
                font-size: 12px; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block .made_J .stars {
                width: 74px;
                height: 12px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block .made_J img:first-child {
                width: 58px;
                height: 12px;
                border-radius: 0%;
                margin: 1px; }
              .main .thirdBlock .TB_2 .slider_TB .stuff_2 .hidden_block .made_J img:nth-child(2) {
                width: 31px;
                height: 12px;
                border-radius: 0%;
                margin: 1px; }
  .main .fourthBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 42px;
    margin-top: 526px;
    width: 1277px;
    height: 402px;
    background-color: #e7ecf0; }
    .main .fourthBlock .elem_1 {
      width: 213px;
      height: 320px;
      text-align: center; }
      .main .fourthBlock .elem_1 h2 {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase; }
      .main .fourthBlock .elem_1 img {
        width: 70px;
        height: 5px; }
      .main .fourthBlock .elem_1 p {
        font-size: 12px;
        margin-top: 10px;
        padding: 10px; }
      .main .fourthBlock .elem_1 .button_two {
        width: 180px;
        height: 34px;
        background-color: #a7b3b3;
        margin-top: 41px;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
        .main .fourthBlock .elem_1 .button_two a {
          text-decoration: none;
          outline: none;
          display: inline-block;
          width: 180px;
          height: 34px;
          position: relative;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px; }
          .main .fourthBlock .elem_1 .button_two a:before, .main .fourthBlock .elem_1 .button_two a:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0; }
          .main .fourthBlock .elem_1 .button_two a:before {
            bottom: 0;
            left: 0;
            border-left: 1px solid white;
            border-top: 1px solid white;
            transition: 0s ease opacity 0.9s, 0.2s ease width 0.4s, 0.2s ease height 0.6s; }
          .main .fourthBlock .elem_1 .button_two a:after {
            top: 0;
            right: 0;
            left: 0;
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            transition: 0s ease opacity 0.9s, 0.2s ease width, 0.2s ease height 0.2s; }
          .main .fourthBlock .elem_1 .button_two a:hover:before, .main .fourthBlock .elem_1 .button_two a:hover:after {
            width: 180px;
            height: 34px;
            opacity: 1; }
          .main .fourthBlock .elem_1 .button_two a:hover:before {
            transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s; }
          .main .fourthBlock .elem_1 .button_two a:hover:after {
            transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
            background: rgba(255, 255, 255, 0.4); }
      .main .fourthBlock .elem_1 .input_form_two {
        width: 180px;
        height: 32px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        text-align: left;
        font-size: 14px; }
        .main .fourthBlock .elem_1 .input_form_two select {
          padding: 5px;
          width: 177px;
          height: 30px;
          background-color: #e7ecf0;
          border: none; }
      .main .fourthBlock .elem_1 .slider_FB {
        margin-top: 62px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .main .fourthBlock .elem_1 .slider_FB .right_arrow {
          width: 16px;
          height: 16px;
          border: 2px solid #afb1b3;
          transform: rotate(45deg); }
          .main .fourthBlock .elem_1 .slider_FB .right_arrow img {
            width: 8px;
            height: 8px;
            margin-bottom: 4px;
            margin-right: 4px;
            margin-left: 2px;
            transform: rotate(-45deg); }
        .main .fourthBlock .elem_1 .slider_FB .slider_span {
          width: 150px;
          height: 7px;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .main .fourthBlock .elem_1 .slider_FB .slider_span .slide {
            text-decoration: none;
            width: 4px;
            height: 1px;
            margin: 3px;
            background-color: #8a8a8a; }
        .main .fourthBlock .elem_1 .slider_FB .left_arrow {
          width: 16px;
          height: 16px;
          background-color: #474747;
          border: 2px solid #474747;
          transform: rotate(45deg); }
          .main .fourthBlock .elem_1 .slider_FB .left_arrow img {
            width: 8px;
            height: 8px;
            margin-bottom: 4px;
            margin-right: 4px;
            margin-left: 2px;
            transform: rotate(-45deg); }
    .main .fourthBlock .elem_2, .main .fourthBlock .elem_3, .main .fourthBlock .elem_4 {
      width: 281px;
      height: 320px; }
    .main .fourthBlock .elem_2 {
      background-color: #ffffff;
      padding: 7px; }
      .main .fourthBlock .elem_2 .elem_2_inner {
        display: flex;
        flex-direction: row;
        width: 265px;
        height: 303px; }
        .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 60px;
          height: 300px; }
          .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 {
            width: 58px;
            height: 245px;
            border-top: 1px solid #f3f3f3;
            border-left: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3; }
            .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .new {
              width: 30px;
              height: 30px;
              background-color: #474747;
              padding-top: 8px;
              padding-bottom: 10px;
              padding-left: 4px;
              transform: rotate(45deg);
              margin-top: 15px;
              margin-left: 13px; }
              .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .new p {
                transform: rotate(-45deg);
                text-transform: uppercase;
                font-size: 10px;
                color: #ffffff; }
            .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .colors {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin-top: 103px;
              margin-left: 10px;
              width: 41px;
              height: 90px; }
              .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .colors .soft {
                width: 15px;
                height: 15px;
                background-color: #838383;
                transform: rotate(45deg); }
              .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .colors .red {
                width: 15px;
                height: 15px;
                background-color: #804a43;
                transform: rotate(45deg); }
              .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_11 .colors .blue {
                width: 15px;
                height: 15px;
                background-color: #435c80;
                transform: rotate(45deg); }
          .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_12 {
            width: 50px;
            height: 50px; }
            .main .fourthBlock .elem_2 .elem_2_inner .elem_2_block_1 .elem_2_block_12 .price {
              padding-top: 20px;
              padding-bottom: 15px;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 12px;
              width: 58px;
              height: 50px;
              border: 1px solid #f3f3f3; }
      .main .fourthBlock .elem_2 .suff_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .main .fourthBlock .elem_2 .suff_desc .stuff_3 {
          border-top: 1px solid #f3f3f3;
          border-bottom: 1px solid #f3f3f3;
          border-right: 1px solid #f3f3f3;
          width: 207px;
          height: 245px;
          background-image: url(../images/stuff_3.png);
          background-repeat: no-repeat;
          background-position: center; }
        .main .fourthBlock .elem_2 .suff_desc .desc {
          border: 1px solid #f3f3f3;
          width: 200px;
          height: 50px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 40px;
          margin-left: 7px;
          margin-bottom: 3px; }
          .main .fourthBlock .elem_2 .suff_desc .desc p {
            font-size: 12px; }
      .main .fourthBlock .elem_2:hover .over {
        display: flex; }
      .main .fourthBlock .elem_2 .over {
        display: none;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 251px;
        margin-left: 8px;
        position: absolute;
        width: 198px;
        height: 48px;
        background-color: #ffffff; }
        .main .fourthBlock .elem_2 .over .icon_1, .main .fourthBlock .elem_2 .over .icon_2, .main .fourthBlock .elem_2 .over .icon_3 {
          transform: rotate(45deg);
          padding: 5px;
          width: 22px;
          height: 22px;
          background-color: #474747; }
          .main .fourthBlock .elem_2 .over .icon_1 img, .main .fourthBlock .elem_2 .over .icon_2 img, .main .fourthBlock .elem_2 .over .icon_3 img {
            padding-bottom: 7px;
            padding-left: 3px;
            padding-right: 1px;
            transform: rotate(-45deg); }
    .main .fourthBlock .elem_3 {
      background-color: #ffffff;
      padding: 7px; }
      .main .fourthBlock .elem_3 .stuff_4 {
        border: 1px solid #f3f3f3;
        width: 265px;
        height: 245px;
        background-image: url(../images/tylers-bag.png);
        background-repeat: no-repeat;
        background-position: center; }
        .main .fourthBlock .elem_3 .stuff_4 .new {
          width: 30px;
          height: 30px;
          background-color: #474747;
          padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 4px;
          transform: rotate(45deg);
          margin-top: 18px;
          margin-left: 13px; }
          .main .fourthBlock .elem_3 .stuff_4 .new p {
            transform: rotate(-45deg);
            text-transform: uppercase;
            font-size: 10px;
            color: #ffffff; }
      .main .fourthBlock .elem_3 .bottom {
        display: flex;
        fle-direction: row; }
        .main .fourthBlock .elem_3 .bottom:hover .over {
          display: flex; }
        .main .fourthBlock .elem_3 .bottom .price {
          padding-top: 20px;
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 6px;
          font-size: 12px;
          width: 58px;
          height: 50px;
          border: 1px solid #f3f3f3; }
        .main .fourthBlock .elem_3 .bottom .desc {
          border: 1px solid #f3f3f3;
          width: 200px;
          height: 50px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 40px;
          margin-left: 7px;
          margin-top: 6px; }
          .main .fourthBlock .elem_3 .bottom .desc p {
            font-size: 12px; }
        .main .fourthBlock .elem_3 .bottom .over {
          display: none;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 7px;
          margin-left: 66px;
          position: absolute;
          width: 198px;
          height: 48px;
          background-color: #ffffff; }
          .main .fourthBlock .elem_3 .bottom .over .icon_1, .main .fourthBlock .elem_3 .bottom .over .icon_2, .main .fourthBlock .elem_3 .bottom .over .icon_3 {
            transform: rotate(45deg);
            padding: 5px;
            width: 22px;
            height: 22px;
            background-color: #474747; }
          .main .fourthBlock .elem_3 .bottom .over img {
            padding-bottom: 7px;
            padding-left: 3px;
            padding-right: 1px;
            transform: rotate(-45deg); }
    .main .fourthBlock .elem_4 {
      background-color: #ffffff;
      padding: 8px; }
      .main .fourthBlock .elem_4 .phoof {
        width: 265px;
        height: 245px;
        background-image: url(../images/watch_tylers.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #f3f3f3; }
        .main .fourthBlock .elem_4 .phoof .new {
          width: 30px;
          height: 30px;
          background-color: #474747;
          padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 4px;
          transform: rotate(45deg);
          margin-top: 18px;
          margin-left: 13px; }
          .main .fourthBlock .elem_4 .phoof .new p {
            transform: rotate(-45deg);
            text-transform: uppercase;
            font-size: 10px;
            color: #ffffff; }
      .main .fourthBlock .elem_4 .bottom {
        display: flex;
        fle-direction: row; }
        .main .fourthBlock .elem_4 .bottom .price {
          padding-top: 20px;
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 6px;
          font-size: 12px;
          width: 58px;
          height: 50px;
          border: 1px solid #f3f3f3; }
        .main .fourthBlock .elem_4 .bottom .desc {
          border: 1px solid #f3f3f3;
          width: 200px;
          height: 50px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 40px;
          margin-left: 7px;
          margin-top: 6px; }
          .main .fourthBlock .elem_4 .bottom .desc p {
            font-size: 12px; }
        .main .fourthBlock .elem_4 .bottom:hover .over {
          display: flex; }
        .main .fourthBlock .elem_4 .bottom .over {
          display: none;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 7px;
          margin-left: 66px;
          position: absolute;
          width: 198px;
          height: 48px;
          background-color: #ffffff; }
          .main .fourthBlock .elem_4 .bottom .over .icon_1, .main .fourthBlock .elem_4 .bottom .over .icon_2, .main .fourthBlock .elem_4 .bottom .over .icon_3 {
            transform: rotate(45deg);
            padding: 5px;
            width: 22px;
            height: 22px;
            background-color: #474747; }
            .main .fourthBlock .elem_4 .bottom .over .icon_1 img, .main .fourthBlock .elem_4 .bottom .over .icon_2 img, .main .fourthBlock .elem_4 .bottom .over .icon_3 img {
              padding-bottom: 7px;
              padding-left: 3px;
              padding-right: 1px;
              transform: rotate(-45deg); }
  .main .footer {
    display: block;
    margin-left: 42px;
    width: 1277px;
    height: 336px;
    background-color: #d4dde4; }
    .main .footer .logo-footer {
      width: 1276px;
      height: 139px;
      background-image: url(../images/logo-footer.png);
      background-repeat: no-repeat;
      background-position: center;
      border-bottom: 1px solid #ffffff; }
    .main .footer .menu_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 1276px;
      height: 198px; }
      .main .footer .menu_footer .block_1 {
        background-image: url(../images/app_store.png);
        background-repeat: no-repeat;
        background-position: 45% 30%;
        width: 166px;
        height: 110px;
        padding-top: 67px;
        padding-right: 5px;
        padding-left: 7px;
        margin-top: 18px;
        margin-left: 15px;
        margin-right: 160px; }
        .main .footer .menu_footer .block_1 a {
          text-decoration: none;
          color: #474747;
          font-size: 12px;
          padding-left: 5px;
          text-decoration: underline; }
          .main .footer .menu_footer .block_1 a span {
            text-transform: uppercase; }
      .main .footer .menu_footer .block_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 440px;
        height: 141px; }
        .main .footer .menu_footer .block_2 .nav {
          display: flex;
          flex-direction: column;
          width: 140px;
          height: 141px;
          list-style: none;
          padding-top: 27px; }
          .main .footer .menu_footer .block_2 .nav li {
            display: inline;
            padding: 1px; }
          .main .footer .menu_footer .block_2 .nav a {
            cursor: pointer;
            position: relative;
            text-decoration: none;
            color: #070707;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 400;
            line-height: 3px;
            letter-spacing: 1.1px;
            transition: 0.9s; }
            .main .footer .menu_footer .block_2 .nav a:hover {
              color: #a7b3b3; }
            .main .footer .menu_footer .block_2 .nav a:after {
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #a7b3b3;
              content: "";
              transition: width 0.3s ease-out; }
            .main .footer .menu_footer .block_2 .nav a:hover:after, .main .footer .menu_footer .block_2 .nav a:focus:after {
              width: 100%; }
        .main .footer .menu_footer .block_2 .nav_2 {
          display: flex;
          flex-direction: column;
          width: 154px;
          height: 141px;
          list-style: none;
          padding-top: 27px; }
          .main .footer .menu_footer .block_2 .nav_2 li {
            display: inline;
            padding: 1px; }
            .main .footer .menu_footer .block_2 .nav_2 li a {
              cursor: pointer;
              position: relative;
              text-decoration: none;
              color: #070707;
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 400;
              line-height: 3px;
              letter-spacing: 1.1px;
              transition: 0.9s; }
              .main .footer .menu_footer .block_2 .nav_2 li a:hover {
                color: #a7b3b3; }
              .main .footer .menu_footer .block_2 .nav_2 li a:after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #a7b3b3;
                content: "";
                transition: width 0.3s ease-out; }
              .main .footer .menu_footer .block_2 .nav_2 li a:hover:after, .main .footer .menu_footer .block_2 .nav_2 li a:focus:after {
                width: 100%; }
      .main .footer .menu_footer .block_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 211px;
        height: 120px;
        margin-top: 22px; }
        .main .footer .menu_footer .block_3 h2 {
          text-transform: uppercase;
          font-size: 14px; }
        .main .footer .menu_footer .block_3 .input {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px; }
          .main .footer .menu_footer .block_3 .input input {
            width: 131px;
            height: 30px;
            font-size: 16px; }
          .main .footer .menu_footer .block_3 .input a {
            outline: none;
            display: inline-block;
            position: relative;
            width: 80px;
            height: 30px;
            text-decoration: none;
            background-color: #474747;
            color: #f5f5f5;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 8px; }
            .main .footer .menu_footer .block_3 .input a:before, .main .footer .menu_footer .block_3 .input a:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              opacity: 0; }
            .main .footer .menu_footer .block_3 .input a:before {
              bottom: 0;
              left: 0;
              border-left: 1px solid white;
              border-top: 1px solid white;
              transition: 0s ease opacity 0.9s, 0.2s ease width 0.4s, 0.2s ease height 0.6s; }
            .main .footer .menu_footer .block_3 .input a:after {
              top: 0;
              right: 0;
              left: 0;
              border-right: 1px solid white;
              border-bottom: 1px solid white;
              transition: 0s ease opacity 0.9s, 0.2s ease width, 0.2s ease height 0.2s; }
            .main .footer .menu_footer .block_3 .input a:hover:before, .main .footer .menu_footer .block_3 .input a:hover:after {
              width: 79px;
              height: 29px;
              opacity: 1; }
            .main .footer .menu_footer .block_3 .input a:hover:before {
              transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s; }
            .main .footer .menu_footer .block_3 .input a:hover:after {
              transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
              background: rgba(255, 255, 255, 0.4); }
        .main .footer .menu_footer .block_3 .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 145px;
          height: 30px; }

/*# sourceMappingURL=style.css.map */
