$BG_CH: #ffffff 
$BR_CL: #a7b3b3

$header-height: 125px
$header-width: 1366px

$logo-width: 256px
$logo-height: 92px
 
$slider-width: 1277px
$slider-height: 464px

*
	margin: 0
	padding: 0
	box-sizing: border-box
	
.main
	max-width: 1366px
	margin: auto
	margin-bottom: 42px

	header
		display: inline-flex
		width: $header-width
		height: $header-height
		background-color: $BG_CH
		position: absolute	 

		.logo-header
			width: $logo-width
			height: $logo-height
			position: absolute
			z-index: 50
		.nav	
			list-style: none 
			padding:
				left: 471px
				top:  27px
				right: 214px		

			li
				display: inline
				padding: 10px

				a	
					cursor: pointer
					position: relative
					text-decoration: none
					color: #070707
					text-transform: uppercase
					font:
						size: 10px
						weight: 400
					line-height: 3px
					letter-spacing: 1.1px
					transition: .9s

					&:hover
						color: $BR_CL

					&:after 
						display: block
						position: absolute
						left: 0 
						width: 0
						height: 2px
						background-color: $BR_CL
						content: ""
						transition: width 0.3s ease-out	

					&:hover:after,
					&:focus:after 
						width: 100%		

		.divider
			width: 85px
			height: 125px

			.up
				display: flex
				flex-direction: row
				align-items: center
				width: 85px
				height: 62px

				.ic_search
					width: 42px
					height: 62px
					display: flex
					flex-direction: row
					align-items: center
					justify-content: center
					border:
						left: 1px solid $BR_CL
						// bottom: 1px solid $BR_CL
					transition: .9s	

					&:hover
						background-color: $BR_CL	
					 

				.ic_menu
					width: 42px
					height: 62px
					display: flex
					flex-direction: row
					align-items: center
					justify-content: center
					border:
						right: 1px solid $BR_CL
						left: 1px solid $BR_CL
						// bottom: 1px solid $BR_CL
					transition: .9s	
					&:hover
						background-color: $BR_CL	

			.ic_chat
				width: 42px
				height: 62px
				margin-left: 42px
				display: flex
				flex-direction: row
				align-items: center
				justify-content: center
				border:
						top: 1px solid $BR_CL
						right: 1px solid $BR_CL
						left: 1px solid $BR_CL
						bottom: 1px solid $BR_CL
				transition: .9s		
				&:hover
					background-color: $BR_CL		

	.slider

		width: $slider-width
		height: $slider-height
		margin:
			top: 62px
			right: 42px
			left: 42px
		padding-bottom: 40px 	
		background-color: #a7b3b3
		position: absolute
		
	.arrow-right
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center 
		padding-right: 10px
		float: right
		width: 42px
		height: 461px

	.arrow-right a
		height: 100%

	.arrow-left
		width: 42px
		height: 461px
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center 
		padding-right: 10px
		float: left
		

	.gadot-outer
		margin:
			top: 155px
			left: 90px
		width: 219px
		height: 219px
		border: 2px solid #f4f5f5
		transform: rotate(45deg)
	.gadot-inner
		margin: 6px
		width: 203px
		height: 203px
		border: 2px solid #f4f5f5
		
		.gadot-div
			width: 53px
			height: 53px
			margin: 44px
			border-radius: 80%
			position: relative
			overflow: hidden
			transform: rotate(45deg)
			border: 1px solid #f4f5f5

			&:before
				content: ""
				position: absolute
				width: 200%
				height: 200%
				top: -68%
				left: 0%
				z-index: -1
				background: url(../images/galgaddot.png) 0 0 no-repeat
				-webkit-transform: rotate(-90deg)
				-moz-transform: rotate(-90deg)
				-ms-transform: rotate(-89deg)
				-o-transform: rotate(-90deg)
				transform: rotate(-90deg)

		.line-gadot-div
			display: block
			width: 180px
			height: 2px
			margin:
				top: -40px
				left: 10px
			transform: rotate(135deg)
			background-color: #f4f5f5

	.secondBlock
		margin:
			left: 42px
		width: 1283px
		height: 427px

		.SB_1
			margin:  
					top: ($slider-height + $header-height) - 63px
			position: absolute
			width: 425px 
			height: 427px
			background-color: #bababa

			.call_to_action
				$SB_1-width: 425px  
				margin:
					top: ($SB_1-width / 2) - 125px
					left: 84px
				width: 260px
				height: 260px
				transform: rotate(45deg)
				border: 2px solid #f4f5f5

				// .up
				// 	margin:
				// 		top: 50px 	
				// 	font:
				// 		size: 14px
				// 		color: #f4f5f5
				// 	text-transform: uppercase
				// 	transform: rotate(-45deg)
				// .down
				// 	margin:
				// 		top: 60px
				// 		right: 55px 
				// 	font:
				// 		size: 14px
				// 		color: #f4f5f5
				// 	text-transform: uppercase
				// 	transform: rotate(-45deg)		 	

		.SB_2
			margin:
				left:  425px
				top: ($slider-height + $header-height) - 63px
			position: absolute
			width: 853px
			height: 427px
			background-color: #f6f3ec

	.thirdBlock
		display: flex
		flex-direction: row
		margin:
			left: 42px
			right: 42px
		width: 1283px
		height: 472px

		.TB_1
			margin:
					top: 526px 
			width: 852px 	
			height: 472px
			background-color: #756862				
		.TB_2
			margin:
					top: 526px
			width: 425px
			height: 472px
			background-color: #d3d1d2

	.fourthBlock
		margin:
				left: 42px
				top: 526px
		width: 1277px	
		height: 402px
		background-color: #e7ecf0
	.footer
		margin-left: 42px
		width: 1277px
		height: 336px
		background-color: red	 								