* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  max-width: 1366px;
  margin: auto;
  margin-bottom: 42px; }
  .main header {
    display: inline-flex;
    width: 1366px;
    height: 125px;
    background-color: #ffffff;
    position: absolute; }
    .main header .logo-header {
      width: 256px;
      height: 92px;
      position: absolute;
      z-index: 50; }
    .main header .nav {
      list-style: none;
      padding-left: 471px;
      padding-top: 27px;
      padding-right: 214px; }
      .main header .nav li {
        display: inline;
        padding: 10px; }
        .main header .nav li a {
          cursor: pointer;
          position: relative;
          text-decoration: none;
          color: #070707;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 400;
          line-height: 3px;
          letter-spacing: 1.1px;
          transition: 0.9s; }
          .main header .nav li a:hover {
            color: #a7b3b3; }
          .main header .nav li a:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #a7b3b3;
            content: "";
            transition: width 0.3s ease-out; }
          .main header .nav li a:hover:after, .main header .nav li a:focus:after {
            width: 100%; }
    .main header .divider {
      width: 85px;
      height: 125px; }
      .main header .divider .up {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85px;
        height: 62px; }
        .main header .divider .up .ic_search {
          width: 42px;
          height: 62px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #a7b3b3;
          transition: 0.9s; }
          .main header .divider .up .ic_search:hover {
            background-color: #a7b3b3; }
        .main header .divider .up .ic_menu {
          width: 42px;
          height: 62px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #a7b3b3;
          border-left: 1px solid #a7b3b3;
          transition: 0.9s; }
          .main header .divider .up .ic_menu:hover {
            background-color: #a7b3b3; }
      .main header .divider .ic_chat {
        width: 42px;
        height: 62px;
        margin-left: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #a7b3b3;
        border-right: 1px solid #a7b3b3;
        border-left: 1px solid #a7b3b3;
        border-bottom: 1px solid #a7b3b3;
        transition: 0.9s; }
        .main header .divider .ic_chat:hover {
          background-color: #a7b3b3; }
  .main .slider {
    width: 1277px;
    height: 464px;
    margin-top: 62px;
    margin-right: 42px;
    margin-left: 42px;
    padding-bottom: 40px;
    background-color: #a7b3b3;
    position: absolute; }
  .main .arrow-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    float: right;
    width: 42px;
    height: 461px; }
  .main .arrow-right a {
    height: 100%; }
  .main .arrow-left {
    width: 42px;
    height: 461px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    float: left; }
  .main .gadot-outer {
    margin-top: 155px;
    margin-left: 90px;
    width: 219px;
    height: 219px;
    border: 2px solid #f4f5f5;
    transform: rotate(45deg); }
  .main .gadot-inner {
    margin: 6px;
    width: 203px;
    height: 203px;
    border: 2px solid #f4f5f5; }
    .main .gadot-inner .gadot-div {
      width: 53px;
      height: 53px;
      margin: 44px;
      border-radius: 80%;
      position: relative;
      overflow: hidden;
      transform: rotate(45deg);
      border: 1px solid #f4f5f5; }
      .main .gadot-inner .gadot-div:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -68%;
        left: 0%;
        z-index: -1;
        background: url(../images/galgaddot.png) 0 0 no-repeat;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-89deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
    .main .gadot-inner .line-gadot-div {
      display: block;
      width: 180px;
      height: 2px;
      margin-top: -40px;
      margin-left: 10px;
      transform: rotate(135deg);
      background-color: #f4f5f5; }
  .main .secondBlock {
    margin-left: 42px;
    width: 1283px;
    height: 427px; }
    .main .secondBlock .SB_1 {
      margin-top: 526px;
      position: absolute;
      width: 425px;
      height: 427px;
      background-color: #bababa; }
      .main .secondBlock .SB_1 .call_to_action {
        margin-top: 87.5px;
        margin-left: 84px;
        width: 260px;
        height: 260px;
        transform: rotate(45deg);
        border: 2px solid #f4f5f5; }
        .main .secondBlock .SB_1 .call_to_action .image_call {
          background-image: url(../images/call_to_action_1.png);
          transform: rotate(-45deg);
          margin-top: 20px;
          margin-left: 18px;
          width: 250px;
          height: 248px; }
          .main .secondBlock .SB_1 .call_to_action .image_call .head_call {
            text-align: center; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call .up {
              padding-top: 50px;
              margin-bottom: 5px;
              font-size: 16px;
              color: #f4f5f5;
              text-transform: uppercase; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call .down {
              margin-bottom: 15px;
              font-size: 16px;
              color: #f4f5f5;
              text-transform: uppercase; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call p {
              font-size: 14px;
              color: #f4f5f5; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call a {
              cursor: pointer;
              position: relative;
              font-size: 14px;
              font-weight: 400;
              color: #f4f5f5;
              text-decoration: none;
              text-transform: uppercase;
              transition: 0.9s;
              line-height: 3px; }
              .main .secondBlock .SB_1 .call_to_action .image_call .head_call a .start {
                height: 10px;
                width: 115px;
                margin-left: 65px;
                margin-top: 30px; }
              .main .secondBlock .SB_1 .call_to_action .image_call .head_call a:hover {
                color: #f4f5f5; }
              .main .secondBlock .SB_1 .call_to_action .image_call .head_call a .start:hover {
                color: #f4f5f5; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call:after {
              margin-left: 65px;
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #f4f5f5;
              content: "";
              transition: width 0.3s ease-out; }
            .main .secondBlock .SB_1 .call_to_action .image_call .head_call:hover:after, .main .secondBlock .SB_1 .call_to_action .image_call .head_call:focus:after {
              width: 46%; }
    .main .secondBlock .SB_2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      aligin-items: center;
      margin-left: 425px;
      margin-top: 526px;
      position: absolute;
      width: 853px;
      height: 427px;
      background-color: #f6f3ec; }
      .main .secondBlock .SB_2 .arrow-right_SB_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 427px; }
      .main .secondBlock .SB_2 .slider_SB {
        display: flex;
        flex-direction: row;
        justify-content: spase-between; }
      .main .secondBlock .SB_2 .not_gaddot {
        background-image: url(../images/not_gaddot.png);
        background-position: center;
        width: 488px;
        height: 427px; }
      .main .secondBlock .SB_2 .recomend {
        width: 276px;
        height: 427px;
        border: 1px solid red; }
        .main .secondBlock .SB_2 .recomend .head_sb2 {
          margin-top: 200px;
          margin-left: -202px;
          padding-left: 150px;
          font-size: 24px;
          letter-spacing: 0.5px;
          color: #4d4d4d;
          text-transform: uppercase;
          width: 427px;
          height: 20px;
          transform: rotate(90deg); }
        .main .secondBlock .SB_2 .recomend .stylist {
          width: 250px;
          height: 22px;
          font-size: 12px;
          colro: #4d4d4d;
          text-transform: uppercase;
          margin-top: -146px;
          margin-bottom: 50px;
          margin-right: 50px; }
          .main .secondBlock .SB_2 .recomend .stylist img {
            padding-left: 25px; }
        .main .secondBlock .SB_2 .recomend .stylist_one {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 35px;
          height: 35px;
          font-size: 12px;
          color: #bdbbb6;
          border: 1px solid red;
          margin-left: 50px; }
        .main .secondBlock .SB_2 .recomend .info {
          width: 216px;
          height: 143px;
          font-size: 12px;
          margin-top: 22px;
          margin-left: 50px; }
      .main .secondBlock .SB_2 .arrow-left_SB_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 427px; }
  .main .thirdBlock {
    display: flex;
    flex-direction: row;
    margin-left: 42px;
    margin-right: 42px;
    width: 1283px;
    height: 472px; }
    .main .thirdBlock .TB_1 {
      margin-top: 526px;
      width: 852px;
      height: 472px;
      background-color: #756862; }
    .main .thirdBlock .TB_2 {
      margin-top: 526px;
      width: 425px;
      height: 472px;
      background-color: #d3d1d2; }
  .main .fourthBlock {
    margin-left: 42px;
    margin-top: 526px;
    width: 1277px;
    height: 402px;
    background-color: #e7ecf0; }
  .main .footer {
    margin-left: 42px;
    width: 1277px;
    height: 336px;
    background-color: red; }

/*# sourceMappingURL=style.css.map */
